* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 6rem;
  padding-left: 42rem;
  padding-right: 42rem;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

#app {
  border: 1px solid red;
  height: 765px;
}